* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #F4F6F8;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  word-break: break-all;
  cursor: pointer;
}

footer {
  position: relative;
}